body{
    margin: 0;
    padding: 0;
    background: url(gym.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
.left
{
    position: absolute;
    top: -45px;
    left: 30px;
    font-size: 40px;
    color:cyan;
}
.center
{
    display:block;
    margin:20px auto;
    width: 60%
}
.navbar{
    display: inline-block;
}
.navbar li
{
    display: inline-block;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman' , serif;
}
.navbar li a{
    text-decoration: none;
    padding: 20px 10px;
    color:white;
    transition: 0.8s ease-in-out;
}
.navbar li a:hover
{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}
.right
{
    position: absolute;
    display: inline-block;
    right: 34px;
    top: 41px;
}
.btn
{
    background-color:blue;
    color: white;
    margin: 0px 3px;
    padding: 5px 10px;
    border: 1px solid grey; 
    font-size: 12px;
    cursor: pointer;
    border-radius: 11px;
    transition: 0.5s ease-in-out;
}
.btn:hover
{
    background-color: darkblue;
}
.container
{
    margin:100px 10px;
    padding:70px 80px;
    border-radius:10px;
    width:41%;
}
.form-group input{
    text-align: center;
    display: block;
    width: 150px;
    padding: 5px 100px;
    margin: 5px 5px;
    border: 2px solid darkgray ;
    border-radius: 15px;
    font-size: 15px;
}
.container h1{
    margin:0px 80px;
}
.container button
{
    display: block;
    width: 40%;
    margin: 0px 100px;
    font-size:large ;
}